.jumbotron {
  background-color: #4eafb3;
  color: #ffffff;
  margin-top: 55px;
  background-image: url("../images/baner.jpg");
  background-size: cover;
}
.footer {
  padding: 10px 10px 0 10px;
  color: #1fc27e;
  background-color: #4eafb3;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-background {
  background-color: #3030db;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn-contacto {
  width: 100%;
  border-radius: 0px;
  background-color: #4e779e;
}
.card-help {
  margin-bottom: 25px;
}
.footer-address-icon {
  padding-right: 10px;
}
.footer-reserve-icon {
  padding-right: 5px;
  color: aliceblue;
}
.tab-content {
  padding-top: 10px;
}
