$cyan: rgb(78, 175, 179);
$green: rgb(31, 194, 126);

@mixin margenes($top, $botton){
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron {
    background-color: $cyan;
    color: rgb(255, 255, 255);
    margin-top: 55px;
    background-image: url("../images/baner.jpg");
    background-size: cover;
}

.footer {
    padding: 10px 10px 0 10px;
    color: $green;
    background-color: $cyan;
    background-image: url("../images/footer.jpg");
    background-size: cover;
    @include margenes(10px, 0px);
}

.btn-background{
    background-color: rgb(48, 48, 219);
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.btn-contacto {
    width: 100%;
    border-radius: 0px;
    background-color: rgb(78, 119, 158);
}

.card-help {
    margin-bottom: 25px;
}

.footer-address-icon {
    padding-right: 10px;
}

.footer-reserve-icon {
    padding-right: 5px;
    color: aliceblue;
}

.tab-content {
    padding-top: 10px;
}